<mat-grid-list cols="6" rowHeight="267px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <mat-card style="width: 100%; padding: 20px 20px 16px !important;">
      <img matCardImage src="../../../assets/imgs/Spotify_Logo_CMYK_White.png">
      <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="start">
          <button mat-button>Botão</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

