<mat-grid-list cols="6" rowHeight="267px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1" style="float: left;">
    <mat-card style="width: 100%;" style="padding: 16px 20px !important;">

      <img matCardImage src="../../../assets/imgs/mini-24.png" style="height: 150px; width: 150px; margin: auto; border-radius: 8px;">
      <mat-card-content>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-content>


    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1" style="float: left;">
    <mat-card style="width: 100%;" style="padding: 16px 20px !important;">

      <img matCardImage src="../../../assets/imgs/mini-24.png" style="height: 150px; width: 150px; margin: auto; border-radius: 8px;">
      <mat-card-content>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-content>


    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1" style="float: left;">
    <mat-card style="width: 100%;" style="padding: 16px 20px !important;">

      <img matCardImage src="../../../assets/imgs/mini-24.png" style="height: 150px; width: 150px; margin: auto; border-radius: 8px;">
      <mat-card-content>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-content>


    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1" style="float: left;">
    <mat-card style="width: 100%;" style="padding: 16px 20px !important;">

      <img matCardImage src="../../../assets/imgs/mini-24.png" style="height: 150px; width: 150px; margin: auto; border-radius: 8px;">
      <mat-card-content>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-content>


    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1" style="float: left;">
    <mat-card style="width: 100%;" style="padding: 16px 20px !important;">

      <img matCardImage src="../../../assets/imgs/mini-24.png" style="height: 150px; width: 150px; margin: auto; border-radius: 8px;">
      <mat-card-content>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-content>


    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1" style="float: left;">
    <mat-card style="width: 100%;" style="padding: 16px 20px !important;">

      <img matCardImage src="../../../assets/imgs/mini-24.png" style="height: 150px; width: 150px; margin: auto; border-radius: 8px;">
      <mat-card-content>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-content>


    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

