<mat-drawer-container class="example-container" style="width: 100%; height: 100%;">
  <mat-drawer mode="side" opened class="matDrawer">
    <img src="../assets/imgs/Spotify_Logo_CMYK_White.png" alt="Logo Spotify" style="height: 40px;">

    <mat-list>
      <mat-list-item> <a routerLink=""><mat-icon svgIcon="inicio" aria-hidden="false" aria-label="Inicio"></mat-icon>Inicio</a> </mat-list-item>
      <mat-list-item> <a routerLink="buscar"><mat-icon svgIcon="buscar" aria-hidden="false" aria-label="Buscar"></mat-icon>Buscar</a> </mat-list-item>
      <mat-list-item> <a routerLink="biblioteca"><mat-icon svgIcon="biblioteca" aria-hidden="false" aria-label="Biblioteca"></mat-icon>Sua Biblioteca</a> </mat-list-item>
     </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="" class="matToolbar">
      <mat-toolbar-row>
        <button mat-mini-fab class="btnSeta">&#60;</button>
        <button mat-mini-fab class="btnSeta">&#62;</button>
        <span class="separador"></span>
        <div mat-button [matMenuTriggerFor]="menuRef" class="divMenu">
          <div class="divAvatar">
            <mat-icon svgIcon="avatar" aria-hidden="false" aria-label="Avatar" style="height: 16px;"></mat-icon>
          </div>
          <span style="margin-left: 8px;">Nome</span>
          <mat-menu #menuRef="matMenu">
            <button mat-menu-item>Conta</button>
            <button mat-menu-item>Menu</button>
            <mat-divider></mat-divider>
            <button mat-menu-item>Sair</button>
          </mat-menu>
          <div style="height: 24px;">
            <mat-icon svgIcon="setaBaixo" aria-hidden="false" aria-label="setaBaixo"></mat-icon>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <section>
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
